{% extends "base.html" %}
{% load static %}
   {% block body %}
      <main>

         <!-- sign up area start -->
         <section class="signup__area po-rel-z1 pt-100 pb-145">
            <div class="sign__shape">
               <img class="man-1" src="{% static 'authentication/img/icon/sign/man-3.png' %}" alt="">
               <img class="man-2 man-22" src="{% static 'authentication/img/icon/sign/man-2.png' %}" alt="">
               <img class="circle" src="{% static 'authentication/img/icon/sign/circle.png' %}" alt="">
               <img class="zigzag" src="{% static 'authentication/img/icon/sign/zigzag.png' %}" alt="">
               <img class="dot" src="{% static 'authentication/img/icon/sign/dot.png' %}" alt="">
               <img class="bg" src="{% static 'authentication/img/icon/sign/sign-up.png' %}" alt="">
               <img class="flower" src="{% static 'authentication/img/icon/sign/flower.png' %}" alt="">
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
                     <div class="section__title-wrapper text-center mb-55">
                        <h2 class="section__title">Create a Student <br>  Account</h2>
                        <!-- <p>I'm a subhead that goes with a story.</p> -->
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                     <div class="sign__wrapper white-bg">
                        <!-- <div class="sign__header mb-35">
                           <div class="sign__in text-center">
                              <a href="#" class="sign__social g-plus text-start mb-15"><i class="fab fa-google-plus-g"></i>Sign Up with Google</a>
                              <p> <span>........</span> Or, <a href="{% url 'authentication:sign-up' %}">sign up</a> with your email<span> ........</span> </p>
                           </div>
                        </div> -->
                        <div class="sign__form">
                           <form method="POST" enctype="multipart/form-data">
                              <!-- Security token -->
                              {% csrf_token %}
                              <div class="sign__input-wrapper mb-25">
                                 <!-- <h5>First Name</h5> -->
                                 {% if form.first_name.errors %}
                                    <div class="alert alert-danger">{{ form.first_name.errors }}</div>
                                 {% endif %}
                                 <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                                 <div class="sign__input">
                                    <input name="{{ form.first_name.html_name }}" value="{{ form.first_name.value|default_if_none:'' }}" type="text" placeholder="First name" id="{{ form.first_name.id_for_label }}" required/>
                                    <i class="fal fa-user"></i>
                                 </div>
                              </div>
                              <div class="sign__input-wrapper mb-25">
                                 <!-- <h5>Last Name</h5> -->
                                 {% if form.last_name.errors %}
                                    <div class="alert alert-danger">{{ form.last_name.errors }}</div>
                                 {% endif %}
                                 <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                                 <div class="sign__input">
                                    <input name="{{ form.last_name.html_name }}" value="{{ form.last_name.value|default_if_none:'' }}" type="text" placeholder="Last name" id="{{ form.last_name.id_for_label }}" required/>
                                    <i class="fal fa-user"></i>
                                 </div>
                              </div>
                              <div class="sign__input-wrapper mb-25">
                                 <!-- <h5>Email</h5> -->
                                 {% if form.email.errors %}
                                    <div class="alert alert-danger">{{ form.email.errors }}</div>
                                 {% endif %}
                                 <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                 <div class="sign__input">
                                    <input name="{{ form.email.html_name }}" value="{{ form.email.value|default_if_none:'' }}" type="email" placeholder="Email" id="{{ form.email.id_for_label }}" required/>
                                    <i class="fal fa-envelope"></i>
                                 </div>
                              </div>
                              <div class="sign__input-wrapper mb-25">
                                 <!-- <h5>Phone</h5> -->
                                 {% if form.phone.errors %}
                                    <div class="alert alert-danger">{{ form.phone.errors }}</div>
                                 {% endif %}
                                 <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                                 <div class="sign__input">
                                    <input name="{{ form.phone.html_name }}" value="{{ form.phone.value|default_if_none:'' }}" type="text" placeholder="Phone" pattern="0[789][01]\d{8}" title="Enter a valid phone number" id="{{ form.phone.id_for_label }}" required/>
                                    <i class="fal fa-phone"></i>
                                 </div>
                              </div>
                              <div class="sign__input-wrapper mb-25">
                                 <!-- <h5>Address</h5> -->
                                 {% if form.address.errors %}
                                    <div class="alert alert-danger">{{ form.address.errors }}</div>
                                 {% endif %}
                                 <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                                 <div class="sign__input">
                                    <!-- <input name="{{ form.address.html_name }}" value="{{ form.address.value|default_if_none:'' }}" type="text" placeholder="Address" id="{{ form.address.id_for_label }}"> -->
                                    <textarea name="{{ form.address.html_name }}" type="text" class="form-control" id="{{ form.address.id_for_label }}" required>{{ form.address.value|default_if_none:'' }}</textarea>
                                    <i class="fal fa-location"></i>
                                 </div>
                              </div>
                              <div class="sign__input-wrapper mb-25">
                                 <!-- <h5>Password</h5> -->
                                 {% if form.password.errors %}
                                    <div class="alert alert-danger">{{ form.password.errors }}</div>
                                 {% endif %}
                                 <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                 <div class="sign__input">
                                    <input name="{{ form.password.html_name }}" value="{{ form.password.value|default_if_none:'' }}" type="password" placeholder="Password" id="{{ form.password.id_for_label }}" required/>
                                    <i class="fal fa-lock"></i>
                                 </div>
                              </div>
                              <div class="sign__input-wrapper mb-10">
                                 <!-- <h5>Confirm Password</h5> -->
                                 {% if form.confirm_password.errors %}
                                    <div class="alert alert-danger">{{ form.confirm_password.errors }}</div>
                                 {% endif %}
                                 <label for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
                                 <div class="sign__input">
                                    <input name="{{ form.confirm_password.html_name }}" value="{{ form.confirm_password.value|default_if_none:'' }}" type="password" placeholder="Confirm Password" id="{{ form.confirm_password.id_for_label }}" required/>
                                    <i class="fal fa-lock"></i>
                                 </div>
                              </div>
                              <div class="sign__action d-flex justify-content-between mb-30">
                                 <div class="sign__agree d-flex align-items-center">
                                    <input class="m-check-input" type="checkbox" id="m-agree" required/>
                                    <label class="m-check-label" for="m-agree">I agree to the <a href="#">Terms & Conditions</a>
                                       </label>
                                 </div>
                              </div>
                              <button class="e-btn w-100"> <span></span> Sign Up</button>
                              <div class="sign__new text-center mt-20">
                                 <p>Already have an account ? <a href="{% url 'authentication:sign-in' %}"> Sign In</a></p>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- sign up area end -->
         
      </main>
      {% endblock %}